@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color:rgb(59, 58, 58);
    height: 10vh;
    width: 100%;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav .right {
    display: flex;
    gap: 50px;
}

/* spotlight Design */

#spotlight {
    margin: 50px 0px;
    box-sizing: border-box;
}
#spotlight .top {
    display: flex;
    gap: 900px;
    justify-content: space-around;
    align-items: center;
}
#spotlight .top select {
    border-radius: 4px;
    border: none;
    padding: 10px;
    padding-right: 20PX;
}
#spotlight .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-top: 50px;
    align-items:stretch;    
}
#spotlight .bottom .cont .title {
    width: 220px;
    font-size: 14px;
    line-height: 18px;
}
#spotlight .bottom .cont .rating  {
    background-color: #ffffff;
    color: black;
    padding: 0px 2px;
    border-radius: 4px;
}
#spotlight .prod {
    box-sizing: border-box;
    background-color:#3A3A3A;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
}
#spotlight .prod .image {
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
}
#spotlight .prod .image .imag {
    height: 260px;
    width: 280px;
    border-radius: 8px;
}
#spotlight .prod .cont {
    display: flex;
    padding: 15px 15px 0px 15px ;
    width: 290px;
    align-items: center;

}
#spotlight .prod .cont a {
    text-decoration: none;
    color: white;
}
#spotlight .prod .price {
    color: rgb(61, 255, 2);
    margin: 0px;
    padding: 5px 15px;
    font-size: 14px;
}
#spotlight .prod button {
    border-radius: 4px;
    border: none;
    margin: 15px 18px;
    padding: 10px 100px;
}


@media screen  and (min-width: 1280px ) and (max-width: 1440px) {
    #spotlight .top {
        gap: 600px;        
    }
}
@media screen  and (min-width: 1080px ) and (max-width: 1279px) {
    #spotlight .top {
        gap: 500px;        
    }
}
@media screen  and (min-width: 980px ) and (max-width: 1079px) {
    #spotlight .top {
        gap: 400px;        
    }
    #spotlight .bottom  {
        gap: 20px;
    }
}
@media screen  and (min-width: 768px ) and (max-width: 979px) {
    nav a {
        font-size: 16px;
        font-weight: 500;
    }
    #spotlight .top h1 {
        font-size: 18px;
    }
    #spotlight .top {
        gap: 300px;        
    }
    #spotlight .bottom  {
        gap: 20px;
    }
}
@media screen  and (min-width: 640px ) and (max-width: 767px) {
    nav  {
        width: 100%;
    }
    nav a {
        font-size: 12px;
        font-weight: 500;
    }
    nav .right {
        gap: 30px;
    }
    #spotlight .top h1 {
        font-size: 18px;
    }
    #spotlight .top {
        gap: 150px;        
    }
    #spotlight .bottom  {
        gap: 10px;
    }
}
@media screen  and (min-width: 540px ) and (max-width: 649px)  {
    nav a {
        font-size: 12px;
    }
    nav .right {
        gap: 10px;
    }
    #spotlight .top {
        gap: 10px;        
    }
    #spotlight .top h1  {
        font-size: 16px;
    }
    #spotlight .top select  {
        padding-right: 0px;
    }
}
@media screen  and (min-width: 480px ) and (max-width: 539px) {
    nav a {
        font-size: 11px;
    }
    nav .right {
        gap: 10px;
    }
    #spotlight .top {
        gap: 0px;        
    }
    #spotlight .top h1  {
        font-size: 16px;
    }
    #spotlight .top select  {
        padding-right: 0px;
    }
}
@media screen  and (min-width: 360px ) and (max-width: 479px) {
    nav a {
        font-size: 11px;
    }
    nav .right {
        gap: 10px;
    }
    #spotlight .top {
        gap: 0px;        
    }
    #spotlight .top h1  {
        font-size: 16px;
    }
    #spotlight .top select  {
        padding-right: 0px;
    }
}
